@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-custom-blue {
  background-color: #1c3d5a;
}

.text-custom-blue {
  color: #1c3d5a;
}

.border-custom-blue {
  border-color: #1c3d5a;
}

section {
  scroll-margin-top: 80px; /* Adjust this value to add space between the navbar and section */
  padding-top: 50px; /* Additional padding if needed */
}
